<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      {{! loop over posts and display all }}
      {{#each posts as |blogPosts|}}
        <div class="card text-bg-light mb-3">
{{!-- hidden input to grab ID --}}
          <div class="card-header bg-info"><a
              href="posts/post/{{{blogPosts.id}}}"
              class="text-dark text-decoration-none fs-3"
            >{{{blogPosts.title}}}</a>
            <h5>by
              {{blogPosts.user.username}}
              on
              {{{format_date blogPosts.createdAt}}}
            </h5></div>
          <p class="card-body">
            {{{blogPosts.content}}}
          </p>
        </div>
        <button class="btn btn-primary">Edit Post</button>
        <button class="btn btn-danger">Delete</button>
        {{!-- add edit and delete buttons --}}
        {{!-- create new post button  --}}
      {{/each}}
    </div>
  </div>
</section>