<div class="card text-bg-light mb-3">
  <input type="hidden" id="post_id" value="{{post.id}}" />
  <div class="card-header bg-info m-2"><h2>{{post.title}}</h2>
    <h5>by {{post.user.username}} on {{format_date post.createdAt}} </h5></div>
  <p class="card-body">
    {{post.content}}
  </p>
  <div class="card-header bg-primary text-light m-2">comments</div>
  {{#each post.comments as |comment|}}
    <div class="card-body bg-gradient bg-info m-2">
      <h5>{{comment.user.username}} said</h5>
      <p class="bg-light text-dark m-2">{{comment.comment_text}}

      </p>
      <p class="fw-lighter">
        posted at
        {{format_date comment.createdAt}}</p>
    </div>
  {{/each}}
  <input
    class="form-control"
    type="text"
    placeholder="Add a comment"
    aria-label="form input for comment"
    id="comment-form"
  />
  <button
    type="button"
    class="btn btn-light bg-gradient"
    id="post-comment"
  >Post</button>
</div>

<script src="/js/onePost.js"></script>